.ShowRequest{
    width: 312px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px rgba(2,5,74,0.33);
    position: absolute;
    top: -79px;
    right: 0px;
    padding: 17px 24px;

    .top{
        display: flex;
        flex-direction: row;
        gap: 17px;
        align-items: center;

        p{
            font-family: 'Exo';
            font-size: 16px;
            color: #455362;
            font-weight: 700;
        }
    }

    .info{
        overflow: scroll;
        height: 719px;

        .amount{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 20px;
    
            .text{
                font-weight: 500;
                font-family: 'Exo';
                font-size: 12px;
                color: #818b95;
                margin-left: 16px;
            }
    
            .text2{
                width: 236px;
                height: 31px;
                padding: 0px 15px 0px 14px;
                border: 1px solid #d5dfe8;
                border-radius: 10px;
                background-color: #edf7ff;
                background-size: cover;
                font-family: 'Exo';
                font-size: 12px;
                color: #818b95;
                display: flex;
                align-items: center;
                font-weight: 600;
            }
        }
    
        .both{
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-top: 24px;
    
            .km{
                display: flex;
                flex-direction: column;
                gap: 5px;
               
    
                .text1{
                    margin-left: 16px;
                    font-family: 'Exo';
                    font-size: 12px;
                    color: #818b95;
                    font-weight: 500;
                }
    
                .text2{
                    padding: 0px 15px 0px 14px;
                    border: 1px solid #d5dfe8;
                    border-radius: 10px;
                    background-color: #edf7ff;
                    background-size: cover;
                    font-family: 'Exo';
                    font-size: 12px;
                    color: #818b95;
                    width: 125px;
                    height: 31px;
                    display: flex;
                    align-items: center;
                    font-weight: 600px;
                }
            }
    
            .litros{
                display: flex;
                flex-direction: column;
                gap: 5px;
    
                .text1{
                    font-weight: 500;
                    font-family: 'Exo';
                    font-size: 12px;
                    color: #818b95;
                    margin-left: 16px;
                }
    
                .text2{
                    width: 96px;
                    height: 31px;
                    padding: 0px 15px 0px 14px;
                    border: 1px solid #d5dfe8;
                    border-radius: 10px;
                    background-color: #edf7ff;
                    font-family: 'Exo';
                    font-size: 12px;
                    color: #818b95;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                }
            }
        }
    
        .photos{
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            margin-top: 45px;
    
            .contPhoto{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .title{
                    font-family: 'Exo';
                    font-size: 12px;
                    color: #818b95;
                    font-weight: 500;
                    margin-left: 14px;
                }
    
                .photo{
                    width: 239px;
                    height: 159px;
                    border-radius: 15px;
                    background-color: #edf7ff;
                    border: 1px dotted #818b95;
                    cursor: pointer;
    
                    &:hover{
                        .white{
                            width: 239px;
                            height: 159px;
                            border-radius: 15px;
                            background-color: rgba(237, 247, 255, 0.34);
                            position: absolute;
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                    }
                }
    
                .location{
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    margin-left: 4px;
                    align-items: center;
    
                    img{
                        width: 12px;
                        height: 12px;
                    }
    
                    .textU{
                        font-family: 'Exo';
                        font-size: 12px;
                        color: #818b95;
                    }
                }
            }
        }
    }
}