.i-message {background-image: url('/images/icons/icon_message.svg');}
.i-arrow {background-image: url('/images/icons/Ascendente.svg');}
.i-record {background-image: url('/images/icons/historial.svg');}
.i-photo {background-image: url('/images/icons/IconFotos.svg');}
.i-ticket {background-image: url('/images/icons/IconTicket.svg');}
.i-excel {background-image: url('/images/icons/ExcelBlue.svg');}
.adduser {background-image: url('/images/icons/adduser.png');}
.show-more {background-image: url('/images/icons/show_more.svg');}
.delete {background-image: url('/images/icons/deleteWhite.svg');}
.addunits {background-image: url('/images/icons/units.png');}
