/**
 * Styles for top tooltip
 */
.p-tooltip.p-tooltip-top {
    padding: 5px !important;

    .p-tooltip-arrow {
        border-left: 15px solid transparent !important;
        border-right: 15px solid transparent !important;
        border-top: 30px solid #545353 !important;
        transform: translateX(-50%) !important;
        bottom: -3px !important;
        left: 50% !important;
    }

    .p-tooltip-text {
        box-shadow: none !important;
        background-color: #545353 !important;
        color: #ffffff !important;
        font-family: Tahoma !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        width: auto !important;
        padding: 0 5px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
        position: relative;
        border-radius: 5px;
    }
}

/**
 * Styles for bottom tooltip
 */
.p-tooltip.p-tooltip-bottom {
    margin-top: 15px;

    .p-tooltip-arrow {
        right: 0px;
        // top: 24% !important;
        // border-top: 10px solid transparent;
        // border-right: none;
        // border-bottom: 10px solid transparent;
        // border-left: 15px solid #545353;
        // transform: rotate(180deg);
        // left: -3px !important;
    }

    .p-tooltip-text {
        background-color: #545353;
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 15px;
    }
}

/**
 * Styles for top green tooltip
 */
.tooltip_green.p-tooltip.p-tooltip-top {
    padding: 5px !important;

    .p-tooltip-arrow {
        border-left: 5px solid transparent !important;
        border-right: 5px solid transparent !important;
        border-top: 10px solid #2e7d32 !important;
        transform: translateX(-50%) !important;
        bottom: -5px !important;
        left: 53% !important;
    }

    .p-tooltip-text {
        background-color: #2e7d32 !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #ffffff !important;
        padding: 5px 15px;
    }
}